.margin-right {
    margin-right: 1rem;
}

.margin-left {
    margin-left: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

#logout:hover {
    background-color: aqua;
    transition: 0.5s;
    height: 100%;
}