<p class="text-center text-muted" *ngIf="!animais.length">
    Desculpe! Não há animais.
</p>

<div class="row">
    <div *ngFor="let animal of animais" class="col-3">
        <a [routerLink]="['animais', animal.id]"></a>

        <app-cartao>
            <app-animais [url]="animal.url" [descricao]="animal.description"></app-animais>
            <i aria-hidden="true" class="fa fa-heart-o fa-1x ">{{animal.likes}}</i>
            <i aria-hidden="true" class="fa fa-comment fa-1x">{{animal.comments}}</i>
        </app-cartao>
    </div>
</div>