<h2 class="text-center">
    Registre-se
</h2>

<p class="mt-2 text-center">Já é usuario?
    <a [routerLink]="['']">Realizar login </a>
</p>

<form class="form mt-4" (submit)="cadastrar()" [formGroup]="novoUsuarioForm" (submit)="cadastrar()" #cadastrarForm="ngForm">
    <div class="form-group mb-2">
        <input type="text" formControlName="fullName" placeholder="Nome Completo" class="form-control" name="nomeCompleto" id="nomeCompleto">
        <app-mensagem mensagem="Nome completo obrigatório" *ngIf="novoUsuarioForm.get('fullName')?.errors?.required && novoUsuarioForm.get('fullName')?.touched"></app-mensagem>
    </div>

    <div class="form-group mb-2">
        <input type="text" formControlName="userName" placeholder="Usuário" class="form-control" name="usuario" id="usuario">
        <app-mensagem mensagem="Usuário obrigatório" *ngIf="novoUsuarioForm.get('userName')?.errors?.required && novoUsuarioForm.get('userName')?.touched"></app-mensagem>
        <app-mensagem mensagem="Usuário deve ser em letras minúsculas" *ngIf="novoUsuarioForm.get('userName')?.errors?.minusculo && novoUsuarioForm.get('userName')?.touched"></app-mensagem>
        <app-mensagem mensagem="Usuário já existe!" *ngIf="novoUsuarioForm.get('userName')?.errors?.usuarioExistente"></app-mensagem>
    </div>

    <div class="form-group mb-2">
        <input type="email" formControlName="email" placeholder="Email" class="form-control" name="email" id="email">
        <app-mensagem mensagem="Email obrigatório" *ngIf="novoUsuarioForm.get('email')?.errors?.required && novoUsuarioForm.get('email')?.touched"></app-mensagem>
        <app-mensagem mensagem="Preencha o campo corretamente" *ngIf="novoUsuarioForm.get('email')?.errors?.email && novoUsuarioForm.get('email')?.touched"></app-mensagem>
    </div>

    <div class="form-group mb-2">
        <input type="password" formControlName="password" placeholder="Senha" class="form-control" name="senha" id="senha">
        <app-mensagem mensagem="Senha obrigatória" *ngIf="novoUsuarioForm.get('password')?.errors?.required && novoUsuarioForm.get('password')?.touched"></app-mensagem>
        <app-mensagem *ngIf="novoUsuarioForm.errors?.senhaIgualUsuario" mensagem="Senha deve ser diferente do nome de usuário"></app-mensagem>
    </div>

    <div class="text-center">
        <button class="btn btn-primary btn-block">Cadastrar</button>
    </div>
</form>